/* Sticky Icon Styling */
.sticky-icon {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #333;
	color: #fff;
	padding: 15px; /* Adjusted padding for larger size */
	border-radius: 50%;
	font-size: 50px; /* Increased from 40px */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	transition: transform 0.3s ease-in-out;
}

.sticky-icon:hover {
	transform: scale(1.1);
}

/* Footer Container Styling */
.footer-container {
	background-color:transparent;
	color: #fff;
	padding: 20px 10px;
	text-align: center;
}

/* Social Icons Styling */
.social-icons {
	display: flex;
	justify-content: center;
	align-items: center; /* Center icons vertically */
	margin-top: 10px;
	gap: 20px; /* Adds space between icons */
}

.social-icons a {
	color: #ccc;
	text-decoration: none;
	font-size: 50px; /* Increased from 40px */
	transition: color 0.3s ease;
}

.social-icons a:hover {
	color: #fbc2eb; /* Highlight color on hover */
}

.social-link {
	display: inline-block;
	margin: 0 5px;
}

.social-link svg {
	width: 40px; /* Increased from 30px */
	height: 40px; /* Increased from 30px */
}

/* Footer Text Styling */
.footer-text {
	margin-top: 20px;
	font-size: 14px;
	color: #ccc;
}
