/* Sticky Icon Styling */
.sticky-icon {
	position: fixed;
	bottom: 14px;
	right: 14px;
	background-color: #333;
	color: #fff;
	padding: 10px;
	border-radius: 40%;
	font-size: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	transition: transform 0.3s ease-in-out;
  }
  
  .sticky-icon:hover {
	transform: scale(1.1);
  }
  
  /* Footer Container Styling */
  .footer-container {
	background-color: #222;
	color: #fff;
	padding: 30px 20px;
	text-align: center;
  }
  
  /* Footer Links Styling */
  .footer-links {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .footer-links a {
	color: #ccc;
	text-decoration: none;
	font-size: 16px;
	margin: 0 15px;
	transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
	color: #fbc2eb; /* Highlight color on hover */
  }
  
  /* Social Icons Styling */
  .social-icons {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .social-icons a {
	color: #ccc;
	text-decoration: none;
	font-size: 20px;
	margin: 0 10px;
	transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
	color: #fbc2eb; /* Highlight color on hover */
  }
  
